<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piedra Papel o Tijera</title>
    <!--Cambié el nombre del doc -->
    <link rel="icon" href="../Recursos/Tijera.svg" />
    <!--Añadí la imagen de pestaña -->
    <link rel="stylesheet" href="../css/game.css" />
  </head>

  <header>
    <a href="../index.html"
      ><img src="../Recursos/Back.svg" alt="Botón Atrás" id="atras"
    /></a>
    <!-- añadí link a inicio-->
    <button id="reload"
      ><img
        src="../Recursos/Restart.svg"
        alt="Botón de Reinicio"
        id="reiniciar"
    /></button>
  </header>
  <body>
    <div class="scoreboard">
      <p class="textoContador">Tú</p>
      <span id="score1">0</span>
      <p class="textoContador">:</p>
      <span id="score2">0</span>
      <p class="textoContador">Bot</p>
    </div>
    <div class="manosAnimacion">
      <!-- añadí una clase-->
      <img class="manoA" src="../Recursos/Mano.svg" alt="" />
      <img class="manoB" src="../Recursos/Mano.svg" alt="" />
      <img class="cirluloFondo" src="../Recursos/CirculoFondo.svg" alt="" />
    </div>
    <div class="cajaManos">
      <img src="../Recursos/Tijera.svg" id="tijera" />
      <img src="../Recursos/Piedra.svg" id="piedra" />
      <img src="../Recursos/Papel.svg" id="papel" />
    </div>
    <div class="cajaTiempo">
      <h2 id="time">00:05</h2>
      <!--Cambié el div por un h2-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="../js/game-functions.js" type="module"></script>
  </body>
</html>
