<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piedra Papel o Tijera</title>
    <link rel="icon" href="../Recursos/Tijera.svg" />
    <link rel="stylesheet" href="../css/instructions.css" />
  </head>
  <body id="fondo">
    <header>
      <a href="../index.html" class="atras">
        <img src="../Recursos/BackNeutral.svg" alt="Botón Atrás" />
      </a>
      <h1>Instrucciones</h1>
    </header>
    <div class="cajaInstrucciones">
      <p>Cada partida consta de 3 turnos.</p>
      <p>
        Tendrás 5 segundos para seleccionar la opción con la que quieras jugar.
        Una vez terminado el turno, verás un mensaje que te indica si tu
        elección fue buena o mala y sumará un punto al ganador.
      </p>
      <p>
        Luego de las tres rondas, se mostrará si ganaste o perdiste, si hay
        empate habrá turno de desempate.
      </p>
    </div>
    <img src="../Recursos/Garabato(1).svg" alt="Garabato" id="garabato1" />
    <img src="../Recursos/Spark.svg" alt="estrellita" id="estrellita1" />
    <img src="../Recursos/Spark.svg" alt="estrellita" id="estrellita2" />
    <img
      src="../Recursos/Instrucciones.svg"
      alt="Instrucciones"
      id="instruccionesImg"
    />
    <img src="../Recursos/Garabato(1).svg" alt="Garabato" id="garabato2" />
    <script src="../js/events.js"></script>
  </body>
</html>
